
#matrix1
{
    width: 400px;
    height: 400px;
    border: 4px solid #999;
    /*border-top: 1px solid #999;*/
    /*border-left: 1px solid #999;*/
}
.cell {
    /*background-color: white;*/
    border-radius: 1px;
    float: left;
    width: 19px;
    height: 19px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

#inp1 {
    width: 400px;
}
.cell.snake {
    background-color: #399f60;
}
.snake_head_up{
    background-image: url('Images/snake_head_up.png') !important;
    background-size: cover;
}
.snake_head_down{
    background-image: url('Images/snake_head_down.png') !important;
    background-size: cover;
}
.snake_head_left{
    background-image: url('Images/snake_head_left.png') !important;
    background-size: cover;
}
.snake_head_right{
    background-image: url('Images/snake_head_right.png') !important;
    background-size: cover;

    /*background-color: #25ff19 !important;*/
}
.snake_tail_up{
    background-image: url('Images/snake_tail_up.png') !important;
    background-size: cover;
}
.snake_tail_down{
    background-image: url('Images/snake_tail_down.png') !important;
    background-size: cover;
}
.snake_tail_left{
    background-image: url('Images/snake_tail_left.png') !important;
    background-size: cover;
}
.snake_tail_right{
    background-image: url('Images/snake_tail_right.png') !important;
    background-size: cover;
}
.snake_mouse_inside{
    background-color: #9eff0b !important;
}

.cell.poison {
    background-color: black;
}
.cell.life {
    background-color: red;
}
.disappearing_cell {
    background-color: #F65A5B !important;
}
.cell.mouse {
    background-color: #424c4f !important;
}
.mouse_up{
    background-color: #636f72 !important;
}
.mouse_down{
    background-color: #636f72 !important;
}
.mouse_left{
    background-color: #636f72 !important;
}
.mouse_right{
    background-color: #636f72 !important;
}

